
<svelte:head>
    <script src="https://cdn.jsdelivr.net/npm/datebook/dist/datebook.min.js"></script>
    <title>Sofi a.k.a Noah cumple 15!</title>
</svelte:head>

<script>
    import { addinv, convert, setupDatabase, generateClient } from "$lib/invitations.ts";
    import { writable } from 'svelte/store';
    import { onMount } from 'svelte';
    import imagen_sofia from '$lib/assets/image_sofia.jpg';
    import encabezado from '$lib/assets/encabezado.png';
    import mis15 from '$lib/assets/mis15.png';
    import llave from '$lib/assets/llave.png';
    import circulo_sombra from '$lib/assets/circulo_sombra.png';
    import instagram from '$lib/assets/instagram.png';
    import flores_abajo from '$lib/assets/flores_abajo.png';
    import monio from '$lib/assets/monio.png';

    /** @type {import('./$types').LayoutServerData} */
    export let data;

    let supabase_store;
    let asist;
    let name;
    let option;
    let option_value;

    let urlcal;
    let calendar_add = false;

    let view_spinner = false;

    const options = {
        title: 'Sofi cumple 15!',
        location: 'Ramón L. Falcón 2935',
        description: 'Cumpleaños de 15 en Salón Colony - Elegante Sport - no te olvides de confirmar asistencia',
        start: new Date('2023-06-25T13:00:00'),
        end: new Date('2023-06-25T21:00:00')
    }

    async function reset(){
        asist = 'si';
        name = '';
        option = '';
        option_value = '';
    }

    async function confirmPerson () {
        if(name == '' || name == undefined){
            alert("Falta su nombre!")
            return;
        }
        let person = {
            name: name,
            asist: asist,
            options: JSON.stringify({
                option: option,
                option_value: option_value
            })
        }
        view_spinner = true;
        await addinv(supabase_store, person);
        reset();
        window.location.href = "/fin";
    }

    async function addCalendarGoogle () {
        const calendar = new datebook.GoogleCalendar(options)
        window.location.href = calendar.render()
    }

    async function addCalendarICalendar () {
        const calendar = new datebook.ICalendar(options)
        window.location.href = calendar.render()
    }

    async function addCalendarYahooCalendar () {
        const calendar = new datebook.YahooCalendar(options)
        window.location.href = calendar.render()
    }

    async function addCalendarOutlookCalendar () {
        const calendar = new datebook.OutlookCalendar(options)
        window.location.href = calendar.render()
    }

    async function runCalendar () {
        calendar_add = !calendar_add;
    }


    onMount( async () => {
        let db = await convert(data);
        let database = await setupDatabase(db);
        supabase_store = await generateClient(database);
    })

    reset();

</script>

<!--<img src={imagen_sofia}  class="img-fluid" alt="Imagen Sofia">-->

<!--<a href="/listado">Ir al listado</a>-->

<div class="container">

    <div class="row">
        <div 
            class="col-md-12 fondo-primero"
            style="background-image: url({imagen_sofia});"
        >
            <div style="height:586px;"></div>
            <div class="caja-fija-contenedor">
                <img class="caja-fija-width" src={mis15}  alt="mis15">
            </div>
            <div 
                style="margin-bottom:85px;color:white;"
            >
                <p>25 de Junio</p>
            </div>
            <div 
                class="col-md-12"
                style="padding:0;height: 50px;"
            >
                <img 
                    src={encabezado}  
                    alt="Encabezado"
                    class="encabezado"
                >
            </div>
        </div>
    </div>

    <div class="divisor-head"></div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <img src={llave}  class="img-fluid llave" alt="Llave">
        </div>
        <div class="col-md-12 margins">
            <div class="d-flex justify-content-center">
                <h2 class="title-color">FECHA</h2>
            </div>
            <div class="d-flex justify-content-center">
                <p class="text-center">Domingo 25 de Junio 2023 <br> de 13 a 21 hs. </p>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
  
        <button
            type="button"
            class="btn btn-secondary"
            on:click={runCalendar}
        >AGENDAR</button>
        {#if calendar_add}
            <div class="d-flex justify-content-center">
                <!--<p>Ingresando a cualquiera de los siguientes calendarios vas a salir de la invitación, asi que te recomendamos que luego regreses para completar la asistencia si no lo hiciste.</p>-->
                <div class="d-grid gap-2 d-md-block mx-auto pt-5">
                    <button
                        type="button"
                        class="btn btn-outline-primary btn-lx"
                        on:click={addCalendarGoogle}
                    >
                        <img width="20" height="20" src="https://www.svgrepo.com/show/475656/google-color.svg"  alt="google">
                         Google
                    </button>
                    <button
                        type="button"
                        class="btn btn-outline-primary btn-lx"
                        on:click={addCalendarICalendar}
                    >
                        <img width="20" height="20" src="https://www.svgrepo.com/show/452158/apple.svg"  alt="icalendar">
                        ICalendar
                    </button>
                    <button
                        type="button"
                        class="btn btn-outline-primary btn-lx"
                        on:click={addCalendarYahooCalendar}
                    >
                        <img width="20" height="20" src="https://www.svgrepo.com/show/349573/yahoo.svg"  alt="icalendar">
                        Yahoo
                    </button>
                    <button
                        type="button"
                        class="btn btn-outline-primary btn-lx"
                        on:click={addCalendarOutlookCalendar}
                    >
                        <img width="20" height="20" src="https://www.svgrepo.com/show/373951/outlook.svg"  alt="icalendar">
                        Outlook
                    </button>
                </div>
            </div>
        {/if}
    </div>

    <div class="row">
        <div class="col-md-12 margins">
            <div class="d-flex justify-content-center">
                <h2 class="title-color">DIRECCION</h2>
            </div>
            <div class="d-flex justify-content-center">
                <p class="text-center">Salón Colony <br> Ramón L. Falcón 2935 <br> Flores, CABA </p>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <a href="/map" class="btn btn-secondary">VER MAPA</a>
    </div>

    <div class="row fondo-end row-flor">
        <div class="d-flex justify-content-center fixed-flor">
            <img class="caja-fija-flor" src={flores_abajo}  alt="flores_abajo">
        </div>
    </div>

    <div class="row fondo-end">
        <div class="col-md-12 margins">
            <div class="d-flex justify-content-center">
                <h1 class="title-completar">CONFIRMAR ASISTENCIA</h1>
            </div>
        </div>
    </div>

    <div class="row fondo-end">
        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <h2 class="text-light">¿Asistirás a la fiesta?</h2>
            </div>
        </div>

        <div class="col-md-12">
            <div class="d-flex justify-content-center">
                <div class="form-check form-asist">
                    <input
                        class="form-check-input"
                        type="radio"
                        bind:group={asist}
                        value="si"
                        id="confirm"
                    >
                    <label
                        class="form-check-label"
                        for="confirm"
                    >
                        Si, confirmo !!
                    </label>
                </div>
                <div class="form-check form-asist">
                    <input
                        class="form-check-input"
                        type="radio"
                        bind:group={asist}
                        value="no"
                        id="notconfirm"
                    >
                    <label
                        class="form-check-label"
                        for="notconfirm"
                    >
                        No, no puedo :(
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-12 margins">
            <div class="d-flex justify-content-center">
                <input type="email" bind:value={name} class="form-control form-sofia" placeholder="Ingresá tu nombre y apellido">
            </div>
        </div>

        <div class="col-md-12 ">
            <div class="d-flex justify-content-center">
                <h2 class="text-light">Datos importantes</h2>
            </div>
        </div>

        <div class="col-md-12">
            <div class="d-flex justify-content-center flex-column align-items-center my-5">
                <div class="form-check form-data">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        bind:group={option}
                        value="Celíaco"
                        id="celiaco"
                    >
                    <label
                        class="form-check-label"
                        for="celiaco">
                        Soy celíaco
                    </label>
                </div>
                <div class="form-check form-data">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        bind:group={option}
                        value="Vegetariano"
                        id="vegetariano"
                    >
                    <label
                        class="form-check-label"
                        for="vegetariano"
                    >
                        Soy vegetariano
                    </label>
                </div>
                <div class="form-check form-data">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        bind:group={option}
                        value="Vegano"
                        id="vegano"
                    >
                    <label
                        class="form-check-label"
                        for="vegano"
                    >
                        Soy vegano
                    </label>
                </div>
                <div class="form-check form-data">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        bind:group={option}
                        value="Alergico"
                        id="alergico"
                    >
                    <label
                        class="form-check-label"
                        for="alergico"
                    >
                        Soy alérgico
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-12 ">
            <div class="d-flex justify-content-center">
                <input type="email" bind:value={option_value} placeholder="Si sos alérgico, ¿a que alimento?" class="form-control form-sofia">
            </div>
        </div>

    </div>

    <div class="row fondo-end d-flex justify-content-center">
        {#if view_spinner}
            <div class="col-md-12 d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        {:else}
            <button
                type="button"
                class="btn btn-primary btn-sofi margins"
                on:click={confirmPerson}
            >ENVIAR</button>
        {/if}
    </div>

    <div class="row fondo-end">
        <div class="col-md-8 offset-md-2">
            <p 
                class="text-center"
                style="color:#0E1C4B;">
                Recordá que todos los invitados tienen que confirmar asistencia y cuanto antes lo hagan mejor!
            </p>
        </div>
    </div>

    <div class="row fondo-end fondo-row">
        <div 
            class="col-md-12"
        >
            <div class="fondo-end-2">
                <div class="d-flex justify-content-center fixed-end">
                    <img class="caja-fija-circulo" src={circulo_sombra}  alt="circulo_sombra">
                    <div class="texto-circulo">
                        <div class="d-flex justify-content-center">
                            <img src={monio}  alt="monio">
                        </div>
                        <div class="d-flex justify-content-center pt-3">
                            <p class="title-color fs-4">DRESS CODE</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <p class="text-center fw-bold">ELEGANTE<br>SPORT</p>
                        </div>
                    </div>
                </div>
                <div 
                    class="d-flex justify-content-center fixed-end"
                    style="color:white;"
                >
                    <h1>Será una gran fiesta <br> junto a vos.</h1>
                </div>
                <div class="d-flex justify-content-center fixed-end margins">
                    <img src={instagram} width="75" height="75" alt="instagram">
                </div>
                <div 
                    class="d-flex justify-content-center fixed-end margins"
                >
                    <p>Compartí tus fotos y videos de ese día con el hashtag:</p>
                </div>
                <div 
                    class="d-flex justify-content-center fixed-end"
                    style="color:white;"
                >
                    <h1 class="fw-bold">#noah_15</h1>
                </div>
            </div>
        </div>
    </div>

</div>

<!--<p class="fs-6">@pablemartin \|/ @brunocoppola</p>-->