@import "bootstrap/scss/bootstrap";

.fondo-end{
    background-color: #C3AD88;
}

.title-color{
    color: #C3AD88
}

.fondo-end-2{
    background-color: #B2D0D5;
    margin: 72px;
    height: 1000px;
}

.fixed{
    position: relative;
    top: -279px;
}

.fixed-end{
    position: relative;
    top: -231px;
}

.llave{
    max-width: 55%;
}

.fixed-flor{
    position: relative;
    top: -150px;
}

.fondo-row{
    position: relative;
    padding-top: 189px;
}

h1{
    font: normal normal normal 100px/100px Times New Roman;
    letter-spacing: 0px;
    text-align: center;
}

h2,h3{
    font: normal normal normal 80px/81px Times New Roman;
    letter-spacing: 0px;
    text-align: center;
}

p{
    font: normal normal normal 36px/42px Times New Roman;
    letter-spacing: 0px;
    text-align: center;
}

.title-completar{
    color: #0E1C4B;
}

.btn-secondary{
    color: #1486D2;
    background-color: white;
    border-color: #FFF;
    box-shadow: 0px 0px 40px #00000029;
    font-size: 27px;
    width: 300px;
    border-radius: 25px;
}

.btn-sofi{
    width: 400px;
    border-radius: 30px;
    color: #FFF;
    background-color: #0E1C4B;
    font-size: 25px;
    height: 55px;
}

.margins{
    margin-top: 60px;
    margin-bottom: 60px;
}

.row-flor{
    height: 110px;
    margin-top: 220px;
}

.form-sofia{
    background-color: transparent;
    border-bottom: 1px solid #FFF;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 480px;
}

.form-asist{
    margin-right: 40px;
    margin-left: 40px;
    font-size: 23px;
    margin-top: 20px;
}

.form-data{
    margin-right: 0px;
    margin-left: 40px;
    font-size: 23px;
    width: 250px;
}

.encabezado{
    width: 100%;
    position: relative;
    top: -279px;
}

.divisor-head{
    height:550px;
}

.fondo-primero{
    padding:0;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.caja-fija-width{
    width: 100%;
}

.caja-fija-circulo{
    width: 40%;
}

.texto-circulo{
    position: absolute;
    top: 8rem;
}

input::placeholder {
    color: #0E1C4B;
    font-size: 15px;
}
  

@media (min-width: 750px) {
    .caja-fija-flor{
        width: 36rem;
    }
}

@media (min-width: 750px) and (max-width: 1420px) {
    .encabezado{
        top: -135px !important;
    }

    .divisor-head{
        height: 300px !important;
    }

    .caja-fija-flor{
        width: 30rem !important;
    }

    .caja-fija-circulo{
        width: 56% !important;
    }
}

@media (max-width: 1250px) {

    h1{
        font: normal normal normal 45px/59px Times New Roman;
        letter-spacing: 0px;
        text-align: center;
    }
    
    h2,h3{
        font: normal normal normal 31px/38px Times New Roman;
        letter-spacing: 0px;
        text-align: center;
    }
    
    p{
        font: normal normal normal 22px/30px Times New Roman;
        letter-spacing: 0px;
        text-align: center;
    }

    .fondo-primero {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;  
        background-size: cover;      
        background-position: center;
    }

    .encabezado{
        top: -53px;
    }
    .divisor-head{
        height:210px;
    }
    .fixed-flor{
        position: relative;
        top: -100px;
    }
    .caja-fija-contenedor{
        width: 75%;
    }
    .fondo-end-2{
        margin: 4px;
        height: 95%;
    }
    .fixed-end{
        top: -175px;
    }
    .form-asist{
        font-size: 18px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .form-data{
        font-size: 23px;
    }
    .btn-sofi{
        width: 350px;
        font-size: 25px;
        height: 50px;
    }

    .caja-fija-flor{
        width: 22rem;
    }

    .caja-fija-circulo{
        width: 82%;
    }

    .texto-circulo{
        position: absolute;
        top: 3.7rem;
    }
}