<style>
    .fondo-end-2 {
        background-color: #B2D0D5;
        margin: 3vh;
        height: 94vh;
        padding-top: 14vh;
    }

    .btn{
        margin-top: 10vh;
        width: 24vh;
        font-size: 2vh;
        height: 5vh;
    }

    h2{
        font-size: 6vh;
    }

    p{
        font-size: 3vh;
    }

</style>
<div class="container">
    <div class="row fondo-end">
        <div class="col-md-12">
            <div class="fondo-end-2">
                <div class="d-flex justify-content-center margins">
                    <h2 class="title-color">GRACIAS</h2>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="text-center">Si tenés que confirmar asistencia de otro invitado hacé click en el siguiente botón para recargar la invitación</p>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="/" class="btn btn-primary btn-sofi">Recargar</a>
                </div>
            </div>
        </div>
    </div>
</div>