<script>
 import { getinv, convert, setupDatabase, generateClient } from "$lib/invitations.ts";
 import { onMount } from 'svelte';

 export let data;

 let invitations = [];
 let ready = false;

 onMount( async () => {
     let db = await convert(data);
     let database = await setupDatabase(db);
     let supabase_store = await generateClient(database);
     let store = await getinv(supabase_store, data.db);
     invitations = store.invitations;
     ready = true;
 });

</script>

<a href="/">Volver</a>

<div>

  <div>
    <h1>Asistencias</h1>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Asiste</th>
                    <th scope="col">Datos</th>
                </tr>
            </thead>
            <tbody>
                {#if ready}
                    {#each invitations as invitation, index}
                        <tr>
                            <th scope="row">{index}</th>
                            <td>{invitation.name}</td>
                            <td>{invitation.asist}</td>
                            <td>
                                {JSON.parse(invitation.options).option}
                                <br>
                                {JSON.parse(invitation.options).option_value}
                            </td>
                        </tr>
                    {/each}
                 {/if}
            </tbody>
        </table>
    </div>
  </div>

</div>
