<script lang="ts">
 import { onMount } from 'svelte';

 let map;
 let view;
 let view_map = false;
 let viewDiv = "arcmap";
 let long = -58.4699732;
 let lat = -34.632424;

 onMount(async () => {
     const Map = (await import('@arcgis/core/Map')).default;
     const MapView = (await import('@arcgis/core/views/MapView')).default;
     const GraphicsLayer = (await import('@arcgis/core/layers/GraphicsLayer')).default;
     const Graphic = (await import('@arcgis/core/Graphic')).default;

     const map = new Map({
         basemap: 'streets-navigation-vector'
     });

     const view = new MapView({
         container: viewDiv,
         map: map,
         zoom: 16,
         center: [long, lat]
     });

     const graphicsLayer = new GraphicsLayer();

     map.add(graphicsLayer);

     const point = {
         type: "point",
         longitude: long,
         latitude: lat
     };
     const simpleMarkerSymbol = {
         type: "simple-marker",
         color: [226, 119, 40],  // Orange
         outline: {
             color: [255, 255, 255], // White
             width: 1
         }
     };

     const pointGraphic = new Graphic({
         geometry: point,
         symbol: simpleMarkerSymbol
     });
     graphicsLayer.add(pointGraphic);

     view_map = true;

 });
</script>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a 
            class="btn btn-outline-primary" 
            href="/"
        >Volver</a>
    </div>
</nav>

<div class="card card-2">
    <div class="card-body">
        <p class="fs-bold text-decoration-underline">Salón Colony - Ramón L. Falcón 2935 - Flores CABA</p>
    </div>
</div>

<div class="container-lg container-fluid">
    <div class="row">
        {#if !view_map}
            <div class="col-md-12 d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        {/if}
        <div class="col-md-12">
            <div class="map" id={viewDiv}></div>
        </div>
    </div>
</div>

<style>
    .map {
        height: 800px;
    }
    .card-2{
        position: absolute;
        bottom: 0;
        z-index: 10000;
        width: 100%;
    }
</style>
